<amplify-authenticator>
  <mat-sidenav-container autosize>
    <mat-sidenav #snav mode="over">
      <button mat-icon-button (click)="snav.close()">
        <mat-icon>close</mat-icon>
      </button>
      <amplify-sign-out></amplify-sign-out>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <button mat-icon-button (click)="snav.open()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My Application</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</amplify-authenticator>