<div class="post-form">
    <form autocomplete="off" [formGroup]="createForm" (ngSubmit)="onCreate(createForm.value)">
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="今何してる？" formControlName="content"></textarea>
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" type="submit" [disabled]="!isFormValid()">ツイートする</button>
        </div>
    </form>
</div>

<mat-card class="post-card" *ngFor="let post of posts">
    <mat-card-header class="post-card__header" [routerLink]="['/profile',post.owner]">
        <div mat-card-avatar class="post-card__header-image"></div>
        <mat-card-title>{{post.owner}}</mat-card-title>
        <mat-card-subtitle>{{post.timestamp*1000 | date:'yyyy年MM月dd日'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{post.content}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button>
            <mat-icon>favorite_border</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>loop</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>reply</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>